.commentsContainer {
  /* background-color: #f3f5f6;
  margin: 10px;
  width: 18%; */
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-left: 6px solid white;
  border-bottom:6px solid white;
  background-color: rgba(0,0,0,.7);
  font: 1.4em/1.6em cursive;
  color: white;
}

.comment {
  padding: 10px;
}

textArea {
  width: 30%;
  height: 100px;
  padding: 20px;
  border: 3px dashed white;
  background-color: rgba(0,0,0,.7);
  font: 1.4em/1.6em;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

.editButton {
  background-color: rgba(0,0,0,.7);
  color: white;
  font-weight: bold;
  margin-bottom: 1px;
}

.fa-edit:before {
  content: "\f044";
}

.editButtonContainer {
  margin-top: 30px;
}

.submitButton {
  background-color: rgba(0,0,0,.7);
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 10px;
}

.editComment {
  background-color: burlywood;
  font-size: 13px;
}

.deleteComment {
  background-color: burlywood;
  font-size: 13px;
}
