.title {
    color: white;
    /* background-color: rgba(0,0,0,.5); */
    width:fit-content;
    padding: 10px;
}

.choose_file {
    color: white;
    background-color: black;
    background-size: 100px;
    margin: 10px;
}

.fab {
    font-size: 40px;
}

.fas {
    font-size: 25px;
}

.fileUploadBtn {
    /* border-color: rgba(0,0,0,.7);
    margin: 5px; */
    background-color: rgba(0,0,0,.7);
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 10px;
    width: 230px;
}

.uploadBtn {
    border-color: rgba(0,0,0,.7);
}

.uploadBtnContainer {
    margin-left: 157px;
}
