.img {
    width: 300px;
    height: 300px;
}

.img_container {
    /* display: flex;
    justify-content: center; */
    padding: 10px;
}

.edit_btn {
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
}

.delete_btn {
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
}

.comment_btn {
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
}

.btn_container {
    display: flex;
    /* align-items: flex-end; */
}

.cardContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "genre-1 genre-2 genre-3 genre-4"
    "genre-5 genre-6 genre-7 genre-8"
    "genre-9 genre-10 genre-11 genre-12"
    "genre-13 genre-14 genre-15 genre-16";
}
.card {
    -webkit-text-stroke-color: var(--accent2);
    -webkit-text-stroke-width: 1px;
    color: var(--text-color);
    opacity: 0.5;
    background-color: #333;
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    align-items: center;
    line-height: 140px;
    height: 140px;
    width: 250px;
    background-size: cover;
    border: 1px solid var(--accent1);
    border-radius: 10px;
    margin: 10px 10px;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}
