.login_title {
    color: white;
    display: flex;
    justify-content: center;
}

.user {
    color: burlywood
}

.password {
    color: burlywood
}

.log_in {
    color: burlywood
}

.form {
    
}
